header {
  display: grid;
  grid-template-columns: 1fr 3fr 8fr;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 0 1em;
}

.logo {
  width: 100px;
  text-align: center;
}

menu {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

menu > li {
  font-weight: 700;
}

menu > li:hover {
  color: blueviolet;
  cursor: pointer;
}

.header--logged-in {
  justify-self: end;
  display: flex;
  gap: 2em;
  align-items: center;
}
